 body {
    padding: 0 30px;
    background-color:#F0FFF0;
    font-size: 14px;
    line-height: 22px;
    font-family: "Georgia", serif;
    color: #222222;
  }
  
  h1 {
    font-size: 20px;
    line-height: normal;
  }
  
  h2 {
    font-size: 16px;
    line-height:normal;

  }

  nav {
    color:#222222;
    text-decoration:underline;
  }
  
  aside {
    margin: 20px 0; 
    color: #c4c4c4;
  }

  a[href] {
    color: #0099ef;
    text-decoration-line: underline;
  }
  
  pre,
  code {
    font-family: "Courier New", "Courier", monospace;
    color: #6a2cce;
  }

  blockquote {
    padding-left: 14px;
    border-left: 2px solid #6a2cce;
  
    color: #6a2cce;
  }
  
  cite {
    color: #222222;
  }
  
  time {
    color: #6a2cce;
  }

  map {
    margin-left: 100px;
  }

  figure {
    margin-left: 0;
    margin-right: 0;
  }
  
  figure img, 
  figure audio,
  figure video {
    vertical-align: middle;
    margin-left: 100px;
    border: 8px solid rgb(202, 224, 248);
  }
  
  figcaption {
    width: 502px;
    padding-bottom: 8px;
    font-size: 12px;
    letter-spacing: 0.02em;
    font-style: italic;
    text-align: center;
    background-color: rgb(202, 224, 248);
  }

  #left,
  #central,
  #right {
    position: relative;
    height: 100px;
  } 

  #left {
    z-index: 1;
  }

  #central {
    top: -70px; 
    left: 150px;
    z-index: 3;
  }

  #right {
    top: -200px;
    left: 300px;
    z-index: 1;
  }

  .redIcon {
    background: url(redIcon.png);
    width: 108px;
    height: 110px;
    display: block;
  }

  .yellowIcon {
    background: url(yellowIcon.png);
    width: 108px;
    height: 98px;
    display: block;
  }

  .greenIcon {
    background: url(greenIcon.png);
    width: 108px;
    height: 100px;
    display: block;
  }
  