 body {
    padding: 0 30px;
    background-color:#F0FFF0;
    font-size: 14px;
    line-height: 22px;
    font-family: "Georgia", serif;
    color: #222222;
  }
  
  h1 {
    font-size: 20px;
    line-height: normal;
  }
  
  h2 {
    font-size: 16px;
    line-height:normal;

  }

  nav {
    color:#222222;
    text-decoration:underline;
  }
  
  aside {
    margin: 20px 0; 
    color: #c4c4c4;
  }

  a[href] {
    color: #0099ef;
    text-decoration-line: underline;
  }
  
  pre,
  code {
    font-family: "Courier New", "Courier", monospace;
    color: #6a2cce;
  }

  blockquote {
    padding-left: 14px;
    border-left: 2px solid #6a2cce;
  
    color: #6a2cce;
  }
  
  cite {
    color: #222222;
  }
  
  time {
    color: #6a2cce;
  }

  #left,
  #central,
  #right {
      position:relative;
  }

  #goritsky
  {
    position: relative;
    top: -100px;
  }

  #left {
    z-index: 1;
  }

  #central {
    top: -150px;
    left: 150px;
    z-index: 3;
  }

  #right {
    top: -350px;
    left: 300px;
    z-index: 1;
  }
  